.container {
  border: 5px solid #ffcc5c;
  display: flex;
}
/*NOTES :
the flex propery alows the width of the items iside the contaier to match it, becoming responsive
*/
/*selecting the child element*/
.container > div {
  /*using flex 1 in this case( not all) will cause it to fill the entire container */
  /*this will also do the job of resizing for other elements*/
  flex:1;
}
